* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 300px;
    /*height: 100vh;*/
    background: #ffffff;
}

.side-nav {
    width: 250px;
    height: 100%;
    background: #98e4cc;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 20px 30px;
}

.logo {
    display: block;
    margin-bottom: 30px;
}

.logo-img {
    width: 180px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 5px 0;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}

.nav-links li:hover a {
    color: #087758;
    transition: 0.3s;
}

.logo-mobile {
    display: none;
    width: 45px;
}

.body_right {
    margin: 70px 20px 20px 270px; /* 270px - posunutí od levé strany*/
}

.clanek_background {
    display: block;
    text-justify: center;
    background: #e9e9e9;
    margin: 20px 20px 20px 0px;
    padding: 20px;
}

.clanek_background h2 {
    color: #053a2b;
}

.clanek_background h3 {
    color: #0b9971;
}

.clanek_background a {
    color: #0b9971;
    text-decoration: none;
}

.filtraceForm {
    display: block;
    
    margin: 20px 20px 20px 0px;
    padding: 20px;
}

/* Zobrazení pro mobily */
@media only screen and (max-width: 600px){
    .side-nav {
        width: 110px;
    }

    .logo-mobile {
        display: block;
    }

    .logo-img {
        display: none;
    }

    .nav-links li a p {
        display: none;
    }

    .nav-links li a i{
        margin-right: 0;
    }

    .nav-links li a {
        justify-content: center;
    }

    .body_right {
        margin: 50px 10px 10px 120px; /* 120px - posunutí od levé strany*/
    }
    
    .clanek_background {
        display: block;
        text-justify: center;
        background: #e9e9e9;
        margin: 10px 10px 10px 0px;
        padding: 10px;
    }

    .clanek_background img {
        width: 65%;
    }
}